<!-- // Author: Megyeri Márk Máté
// Copyright: 2023, Megyeri Márk Máté
// Group: Szoft II/N
// Date: 2023-03-08
// Github: https://github.com/megyerimark/
// Licenc: GNU GPL -->
<body>
    
    <h1>Megyeri Márk Máté</h1>
    
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>Megyeri Márk Máté</h2>
                <h3>2023.03.08</h3>
                <p>SZOFT II/N</p>
                <a href=""></a>
        
            </div>
        </div>
    </div>
</body>

